# Environments
# .env
.venv
venv/
env/
__pycache__/

# Python
*.py[cod]
*$py.class
Intelligent_Components/snapshot.jpg

# System Design Document
System_Design_Document.md

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/