# Environments
.env
.venv
venv/
env/
__pycache__/

# Python
*.py[cod]
*$py.class
assets/snapshot.jpg

# System Design Document
System_Design_Document.md

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/